@import url(main.css);

.register {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: var(--blue-color);
    border-radius: 20px;
    padding: 20px 15px;
    font-size: 18px;
    color: white;
}

.request-form {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 2px solid white;
}

.field {
    display: flex;
    margin-bottom: 7px;
}

.input-container {
    border-radius: 20px;
    border: 1px solid transparent;
    font-size: 16px;
    padding: 2px 5px;
    margin-left: auto;
    margin-right: 10%;
}

.response-btn {
    margin: 20px auto 10px;
    width: 50%;
}