body {
    margin: 0;
    /*background-color: #f8ed21;*/
    background-color: rgb(255, 255, 245);
    font-family: 'Sofia Sans Condensed', sans-serif;
    border-left: 10px solid #222222;
    border-right: 10px solid #222222;
  }

    .beebuzz {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #222222;
        padding: 10px;
        width: auto;
        height: 70px;
    }

    .beebuzz_name {
        color: #fbfbfb;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        font-size: 16px;
    }

    .register {
        margin: auto;
        margin-top: 35px;
        left: 50%;
        top: 50%;
        width: 450px;
        height: auto;
    }

    .form-group {
        margin: 10px;
        padding: 10px;
        font-size: 14px;
        font-family: sans-serif;
    }

    .vvod {
       border: none;
       display: flex;
       background-color: #ebebeb;
       height: 13px;
       width: 400px;
       border-radius: 15px;
       padding: 10px;
    }

    .vvod1 {
       border: none;
       display: flex;
       background-color: #ebebeb;
       height: 13px;
       width: 400px;
       border-radius: 15px;
       padding: 10px;
    }

    .vvod2 {
       border: none;
       display: flex;
       background-color: #ebebeb;
       height: 13px;
       width: 400px;
       border-radius: 15px;
       padding: 10px;
    }

    .vvod3 {
       border: none;
       display: flex;
       background-color: #ebebeb;
       height: 13px;
       width: 400px;
       border-radius: 15px;
       padding: 10px;
    }

    .vvod4 {
       border: none;
       display: flex;
       background-color: #ebebeb;
       height: 13px;
       width: 400px;
       border-radius: 15px;
       padding: 10px;
    }

    .button-reg {
        font-size: 16px;
        display: flex;
        margin: auto;
        left: 50%;
        top: 50%;
        padding: 15px 35px;
        border: none;
        background: #222222;
        margin-bottom: 40px;
        color:#fbfbfb;
    }

    .button-reg:hover {
        transform: scale(1.03);
        background: #3e3e3e;
    }

    .label-reg {
        margin-left: 15px;
        padding: 2px;
    }/*rgb(173, 171, 18)*/



.error {
    margin: auto;
    margin-top: 35px;
    left: 50%;
    font-size: 22px;
    height: 30px;
    width: 400px;
    border-radius: 15px;
    padding: 10px;
    background-color: #474747;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}


/*Подвал с детьми*/
.podval {
    background-color: #222222;
    margin: 0 auto;
    font-size: 20px;
    color: #fbfbfb;
    text-align: center;
    max-width: 100%;
    padding: 7px;
    width: auto;
    
  }