body {
  margin: 0;
  /*background-color: #f8ed21;*/
  background-color: rgb(255, 255, 245);
  font-family: 'Sofia Sans Condensed', sans-serif;
  border-left: 10px solid #222222;
  border-right: 10px solid #222222;
}


.search-box {
    display: flex;
    background-color: white;
    height: 15px;
    width: 400px;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    margin: auto;
    }

.search-txt {
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 16px;
    transition: .4s;
}

.lp_lab {
    font-size: 30px;
    width: auto;
}

/*Блоки*/
   .about{
  color:#eb3f00;
  text-shadow: 1px 0 1px #000;
  text-align:center; /* позиционирование текста */
  padding: 0.5em 0em; /* отступы для текста */
 }
.wrap_about{
  width: 90%; /* занимаемая ширина блоков по отношению к браузеру */
  margin: 0 auto; /* расположение секций по центру */
 }
.grid{
  width: 20%; /* ширина белого блока */
  float: left; /* выстраивание в ряд трех белых блоков */
  background-color: white; /* цвет блока */
  border-radius: 20px; /*Закругленные края блока*/
  margin: 0 1.5% 0 1.5%; /* отступы для белых блоков */
  border: 1px solid black;
  min-height: 300px; /* минимальная высота белых блоков */
 }
 
.grid p { /* значения свойств для параграфа белого блока */
  color: #444444;
  font-size: 1.02em;
  text-align: center;
  padding: 1em 1em 2em 1em;
  line-height: 1.9em;
 }
 .grid > h3 > p> a {
  background: #eb3f00;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.9s;  /*плавный переход*/
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;

}

.clear{ clear:both;} /* отмена float */


.button-log {
  font-size: 16px;
  display: flex;
  margin: 15px auto;
  left: 50%;
  top: 50%;
  padding: 15px 35px;
  border: none;
  background: #222222;
  margin-bottom: 40px;
  color:#fbfbfb;
}



 /*Подвал с детьми*/
.podval {

  background-color: #222222;
  margin: 0 auto;
  font-size: 20px;
  color: #fbfbfb;
  text-align: center;
  max-width: 100%;
  padding: 7px;
  width: auto;
  
}




/*Далее оформление шапки*/

#logotip {
  margin-left: 100px;
}

.namelogo {
  font-size: 28px;
  margin-left: 65px;
  font-weight: bold;
  color: #fbfbfb;
}

.namelogo2 {
  font-size: 20px;
  margin-left: 35px;
  color: #fbfbfb;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 10px;
  width: auto;
  height: 70px;
}


.text-sh ul {
  list-style: none;
  margin-right: 70px;
  padding: 0;
  display: flex;
}

.text-sh li {
  margin-right: 20px;
}

.text-sh a {
  font-size: 18px;
  color: #fbfbfb;
  text-decoration: none;
}

#login {
  font-size: 20px;
  color: #222222;
  font-weight:  bold;
  padding: 10px 40px 10px 40px;
  background-color: #fbfbfb;
  border: 3px solid black;
}