body {
  font-size: 16px;
  height: auto;
  margin: 0;
  background-color: none;
}

#ttablee {
  background-color: rgb(255, 255, 198);
}

.verticalline {
    border-left: 6px solid black;
    height: inherit;
    position: absolute;
    left: 50%;
    top: 0;
}

#tdfirst {
  float: left;
  width: 230px;
  padding: 5x;
  margin: 20px 10px 30px 13px;
}

.label-menu {
  margin-top: 10px;
}

.anketa label {
    text-indent: 25px;
    margin: auto;
    display: block;
    padding: 1px;
    font-size: 16px;
}

.tittle h5 {
    font-size: 18px;
    text-indent: 60px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}


/*Далее оформление шапки*/

#logotip {
  margin-left: 100px;
}

.namelogo {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
}

.namelogo2 {
  margin-left: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 10px;
  width: 100%;
  height: 60px;
}

.text-sh ul {
  list-style: none;
  margin-right: 70px;
  padding: 0;
  display: flex;
}

.text-sh li {

  margin-right: 20px;
}

.text-sh a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}