.logo

.text-sh {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 20px;
}

.text-sh li {
    display: inline-block;
}

.text-sh li a {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    padding: 0;
    transition: all .07s ease-in-out;
}   

.photo {
    width: 200px;
}

.tittle {
    font-size: 16px;
}

.text {
    font-size: 12px;
}

.status {
    font-size: 12px;
}

