{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <title>Вакансии</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'main' %}"><img src="{% static 'main/images/full-logo 2.svg' %}" class="logo-image" width="70" /></a>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li>
                    <a href="{% url 'partners' %}" class="partners request-link">Партнеры</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="about request-link">О нас</a>
                </li>
                <li>
                    <a href="{% url 'main' %}">Найти вакансию</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <a><img src="{% static 'main/images/Group 3.svg' %}" class="logo-image1" width="450" /></a>
        <div class="about">
            <p>Структурные подразделения Учреждения расположены по различным адресам в г. Красноярске: <p>
Q ул. Коломенская, 2D <p>
Q ул. Бограда, 1H <p>
Q ул. Вавилова, 2M <p>
Q ул. Вавилова, 23 J <p>
Q пр. имени газеты Красноярский рабочий, 29, корпус 80, стр. 110, пом. > <p>
Q ул. Карла Маркса, 34 «Б6 <p>
Q ул. Биатлонная, 25 Б/Y <p>
Q ул. 1-ая Смоленская, 16, стр. 10 и стр. 11 (Центр ядерной медицины. <p>
Q пр.Свободный, 82, стр.13</p>
        <br>
            <p>
                В г. Зеленогорске расположен филиал Клиническая больница № 42 (полное наименование – филиал Федерального государственного бюджетного
учреждения «Федеральный Сибирский научно-клинический центр Федерального медико-биологического агентства» – «Клиническая больница №
42»). Почтовый адрес филиала: 663690, Россия, Красноярский край, г. Зеленогорск, ул. Комсомольская, д. 23 г. <p> <br>

В настоящее время Федеральный Сибирский научно-клинический центр – это многопрофильное специализированное учреждение здравоохранения,
обслуживающее свыше 115 тыс. человек. <p><br>

Учреждение оказывает первичную и специализированную медицинскую помощь в амбулаторных и стационарных условиях, а также в условиях
дневного стационара. Кроме того, Федеральный Сибирский научно-клинический центр входит в перечень медицинских учреждений РФ,
выполняющих государственные заказы по оказанию высокотехнологичной медицинской помощи. <p><br>

В рамках заключенного Соглашения о порядке осуществления функций по оказанию государственных услуг в сфере здравоохранения жителям
Красноярского края между ФМБА России и Правительством Красноярского края Федеральный Сибирский научно-клинический центр обслуживает
прикреплённое население по системе обязательного медицинского страхования. <p><br>

Амбулаторно-поликлиническая служба с проектной мощностью 2 830 посещений в смену (г. Красноярск – 1350, г. Зеленогорск – 1480 посещений в
смену) представлена шестью поликлиниками, двумя здравпунктами, расположенными на промплощадках, двумя стоматологическими
поликлиниками и диспансерами (кожно-венерологический, противотуберкулезный, психоневрологический в г. Зеленогорске). <p><br>

Специалисты поликлиник Федерального Сибирского научно-клинического центра ведут приём по 23 направлениям: терапия, хирургия, гинекология,
офтальмология, неврология, оториноларингология, сурдология, психиатрия, эндокринология, кардиология, урология, профпатология, наркология,
дерматовенерология, онкология, инфекционные болезни, гастроэнтерология, травматология и ортопедия, физиотерапия, стоматология, педиатрия,
нейрохирургия, реабилитация. <p><br>

Общий коечный фонд круглосуточного стационара – 855 коек. <p><br>

Специализированная медицинская помощь в стационарных условиях оказывается по следующим профилям: терапия, кардиология, пульмонология,
неврология, хирургия, травматология и ортопедия, гинекология, педиатрия, инфекционные болезни, акушерская помощь, анестезиология-
реаниматология, фтизиатрия, психиатрия, наркология, дерматовенерология, оториноларингология, офтальмология, урология, профпатология,
нейрохирургия, онкология, реабилитация, эндокринология. <p><br>

Дневной стационар включает в себя 331 койку (155 коек на базе г. Красноярска и 176 коек на базе г. Зеленогорска). <p><br>

В филиале Клиническая больница № 42 в г. Зеленогорске оказывается медицинская помощь женщинам в период беременности, во время и после
родов. <p><br>

Федеральный Сибирский научно-клинический центр осуществляет медико-санитарное обеспечение населения ЗАТО г. Зеленогорск, олимпийцев, <p>
спортсменов сборных команд Российской Федерации и их ближайшего резерва, работников Следственного комитета при прокуратуре РФ, <p>
организаций отдельных отраслей промышленности с особо опасными условиями труда, организаций водного транспорта, среди которых: <p>
Q ОАО "Красноярский машиностроительный завод" <p>
Q Филиал ФГУП "Ведомственная охрана Росатома"<p>
Q ФГУП Центральное конструкторское бюро "Геофизика"<p>
Q ОАО "Химико-металлургический завод"<p>
Q ОАО "Енисейская территориальная генерирующая компания (ТГК-13)"<p>
Q ОАО "Красноярскнефтепродукт"<p>
Q ОАО "Енисейское речное пароходство"<p>
Q ФГУ "Енисейское государственное бассейновое управление водных путей и судоходства"<p>
Q Филиала ФГУ "Российский речной регистр"<p>
Q ОАО "Красноярский речной порт"<p><br>

А также другие предприятия и организации в соответствии с перечнем, утверждаемым Правительством Российской Федерации.<p><br>

Согласно приказу Федерального медико-биологического агентства от 30 июля 2020 года ФСНКЦ ФМБА России выполняет функцию окружного
медицинского центра.<p><br>

В новом статусе ФСНКЦ ФМБА России обеспечивает координацию деятельности медицинских организаций в Сибирском федеральном округе.<p><br>

В числе курируемых организаций — медицинские учреждения системы ФМБА России в Новосибирске, Омске, Северске, Яровом, Тюмени, Сургуте,
Салехарде, Тобольске, Ангарске, Железногорске, Зеленогорске и п. Кольцово.
            </p>
        </div>
 <h1 style=" margin-left: 30px; margin-top: 15px; color:#4f4f4f;" >Руководство </h1>


        <div>
            <div class="partner">
                <div class="photo">
                   <img alt="" class="photo" src="https://www.skc-fmba.ru/api/uploads/IMG_0547_61cecc778e.JPG">
                </div>

                <div class="trtx" >
                <h1 style="color:#4f4f4f;">Шутов Алексей Александрович </h1>
                <p>
                        Исполняющий обязанности генерального директора
                </p>

                </div>
            </div>
        </div>

         <div>
            <div class="partner">
                <div class="photo">
                   <img alt="" class="photo" src="https://www.skc-fmba.ru/api/uploads/blob_24078e9af4.png">
                </div>

                <div class="trtx" >
                <h1 style="color:#4f4f4f;">Фетисов Александр Олегович  </h1>
                <p>
                       Главный врач
                </p>

                </div>
            </div>
        </div>

           <div>
            <div class="partner">
                <div class="photo">
                   <img alt="" class="photo" src="https://www.skc-fmba.ru/api/uploads/blob_ca4482bfcc.png">
                </div>

                <div class="trtx" >
                <h1 style="color:#4f4f4f;">Яковлева Людмила Ивановна   </h1>
                <p>
                       Заместитель генерального директора по организационному развитию
                </p>

                </div>
            </div>
        </div>

 <h1 style=" margin-left: 30px; margin-top: 15px; color:#4f4f4f;" >Контакты </h1>

  <div class="d1" >
       <br>
 </div>

          <div class="about">
            <p>Федеральное государственное бюджетное учреждение 
«Федеральный Сибирский научно-клинический центр 
Федерального медико-биологического агентства»(ФГБУ ФСНКЦ ФМБА России)

ул. Коломенская, д. 26 г. Красноярск, Красноярский край, 660037, а/я 6213 <p>
          </p>
          </div>

         <div class="d1" >
       <br>
 </div>

          <div class="about">
            <p>Вызов врача на дом (для прикрепленного населения), COVID-19:+7 (391) 257-31-61 
Запись на платный прием:+7 (391) 257-31-60

Запись по ОМС (прикрепленные пациенты):+7 (391) 277-33-55

Стоматология:+7 (391) 257-93-30 <p>
          </p>
 </div>
<div class="d1" >
       <br>
 </div>

          <div class="about">
            <p>Приёмное отделение стационара (ул. Коломенская д. 26) +7 (391) 274-31-50

Факс: +7 (391) 262-40-28

Электронная почта:skc@skc-fmba.ru

VK

Telegram

OK <p>
          </p>
          </div>




    <footer class="footer">
        Коломенская, 26, Красноярск, Красноярский край, 660037, а/я 6213<br>
        Почта: <a href="mailto:skc@skc-fmba.ru">skc@skc-fmba.ru</a>
    </footer>


    </main>



</body>

</html>