{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed&display=swap" rel="stylesheet">

    <title> Создание анкеты в BeeBuzz.NET</title>
    <link href="{% static 'main/css/register_1.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="register_1.css">
</head>


<body>

	<header>
        <div class="logo">
            <table>
                <tr>
                    <td>
                        <a href="{% url 'start' %}"><img src="{% static 'main/images/startsheet_2.png' %}" id="logotip" alt="" width="70" /></a>
                    </td>
                    <td>
                        <div class="namelogo"><label>BeeBuzz.NET</label></div>
                        <div class="namelogo2"><label>Сервис для поиска специалистов по оказанию услуг</label></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-sh">
            <ul>
                <li><a href="{% url 'anket' %}">Создать заявку</a></li>
                <li><a href="{% url 'main' %}">Найти специалиста</a></li>
                {% if request.user.is_authenticated %}
                <li><a id="login" href="{% url 'prof' %}">Профиль</a></li>
                {% else %}
                <li><a id="login" href="{% url 'log' %}">Войти</a></li>
                {% endif %}

                <!--<li><a href="#">Войти</a></li>
        <<li><a href="{% url 'reg' %}" target="_blank" rel="noopener noreferrer">Зарегистрироваться</a></li>-->
            </ul>
        </div>
    </header>






	

	<nav class="reg">
		<div class="register" id="animated-element"> 
			<nav class="beebuzz" align="center" style="margin-top: 30px;">
				<div class="beebuzz_name" >
					<h1>Создание анкеты на BeeBuzz.NET</h1>
				</div>
			</nav>
			<hr style="border: 1px solid #222222; width: 350px; margin-top: -15px;">
			<div class="msg"></div>
			<form id = "form-group" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<!-- Поставил ID элементам так как использую для скрипта-->

				<div class="form-group">
					<label class="header">Фото анкеты:</label>
					{{ form.Photo }}
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "family-user">Заголовок анкеты</label> </div>
					{{ form.Tittle }}
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "name-user">Текст анкеты</label> </div>
					{{ form.Text }}
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "otchestvo-user">Место исполнения</label> </div>
					{{ form.Place }}
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "user">Плата за выполнение</label> </div>
					{{ form.Price }}

				</div>

				<div class="form-group">
					<div  class="label-reg"> <label for = "user">Время на выполнение</label> </div>
					{{ form.Time }}
				</div>

				<div class="form-group">
					<div  class="label-reg"> <label for = "user">Язык исполнения</label> </div>
					{{ form.Lang_cat }}
				</div>

				<div class="form-group">
					<div  class="label-reg"> <label for = "user">Категория софта</label> </div>
					{{ form.Soft_cat }}
				</div>

				<div class="form-group">
					<div  class="label-reg"> <label for = "user">Автор поста</label> </div>
					{{ form.Author }}
				</div>
				
				<!-- Работающая кнопка -->
				<input class="button-reg" type="submit" value="Создать анкету"> 
				<label style="font-size: 18px; text-align: center; display: block; margin-bottom: 40px;">Вас обязательно заметят<br>^^</label>
			</form>
		</div>
		<script src="{% static 'main/js/animation.js' %}"> </script>
	</nav>

	

		<!-- {% static 'main/js/registration_1.js' %} -->
	<script src="{% static 'main/js/registration_1.js' %}"></script>

	<div class="podval">
        <p> Контактная информация: &emsp;Phone:+7(902)**** ; &emsp;Email: GambitCorp@gmail.com; &emsp;Адрес: г.Красноярск, КрасРаб 31А; </p>
    </div>

</body>
</html>


<!-- -->