{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/done.css' %}">

    <title>Вакансии</title>
    <style>

        h1 {
            font-size: 36px; /* Измените размер шрифта по вашему желанию */
            text-align: center;
        }

        a {
            font-size: 24px; /* Измените размер шрифта по вашему желанию */
            color: black; /* Черный цвет ссылки */
            text-decoration: none; /* Убрать подчеркивание */
        }
    </style>
</head>


<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'main' %}"><img src="{% static 'main/images/full-logo 2.svg' %}" class="logo-image" width="70" /></a>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li>
                    <a href="{% url 'partners' %}" class="partners request-link">Партнеры</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="about request-link">О нас</a>
                </li>
                <!--<li>

                    <a href="{% url 'log' %}">Войти</a></li>
                </li>
                <li>
                    <a href="{% url 'prof' %}">Профиль</a></li>
                </li>
                <li>
                    <a href="{% url 'main' %}">Найти вакансию</a>
                </li>-->
                <li>
                    <a href="{% url 'main' %}">Найти вакансию</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <h1>ЗАПРОС УСПЕШНО ОТПРАВЛЕН</h1>
        <a class="back" href="{% url 'main' %}""  >Вернуться на главную</a>
    </main>
    <footer class="footer">
        Коломенская, 26, Красноярск, Красноярский край, 660037, а/я 6213<br>
        Почта: <a href="mailto:skc@skc-fmba.ru">skc@skc-fmba.ru</a>
    </footer>
</body>
</html>