{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed&display=swap" rel="stylesheet">

    <title>Отклик на BeeBuzz.NET</title>
    <link rel="stylesheet" href="{% static 'main/css/form.css' %}">
</head>

<body>

    <header>
        <div class="logo">
            <table>
                <tr>
                    <td>
                        <a href="{% url 'start' %}"><img src="{% static 'main/images/startsheet_2.png' %}" id="logotip" alt="" width="70" /></a>
                    </td>
                    <td>
                        <div class="namelogo"><label>BeeBuzz.NET</label></div>
                        <div class="namelogo2"><label>Сервис для поиска специалистов по оказанию услуг</label></div>
                    </td>
                </tr>
            </table>
        </div>
    </header>

    <nav class="reg">
		<div class="register">
			<nav class="beebuzz" align="center" style="margin-top: 30px;">
				<div class="beebuzz_name" >
					<h1>Отклик на заявку</h1>
				</div>
			</nav>
			<hr style="border: 1px solid #222222; width: 350px; margin-top: -15px;">
			<div class="msg"></div>
            {% for el in anketas %}
                {% if el.id == anket_id %}
                        <label class="otpr">{{el.Tittle}}</label>
                        <label class="otpr">{{el.Text}}</label>
                        <img src="{{el.Photo.url}}" width="250">
                        <label class="otpr">{{el.Price}}</label>
                        <label class="otpr">{{el.Text2}}</label>
                {% endif %}
            {% endfor %}
            <label class="otpr">Вы действительно хотите отправить отклик на вакансию?{{anket_id}}</label>

            <form id = "form-group" method="post" enctype="multipart/form-data" >
                {% csrf_token %}
                <p><input class="button-reg" type="submit"></p>
            </form>


         <!-- <input class="button-reg" type="submit" value="Откликнуться">  -->

        </div>
    </nav>

    <div class="podval" valign="bottom" style="margin-top: 625px;">
        <p> Контактная информация: &emsp;Phone:+7(902)**** ; &emsp;Email: GambitCorp@gmail.com; &emsp;Адрес: г.Красноярск, КрасРаб 31А; </p>
    </div>



</body>
</html>