{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <title>Вакансии</title>
</head>


<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'main' %}"><img src="{% static 'main/images/full-logo 2.svg' %}" class="logo-image" width="70" /></a>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li>
                    <a href="{% url 'partners' %}" class="partners request-link">Партнеры</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="about request-link">О нас</a>
                </li>
                <!--<li>

                    <a href="{% url 'log' %}">Войти</a></li>
                </li>
                <li>
                    <a href="{% url 'prof' %}">Профиль</a></li>
                </li>
                <li>
                    <a href="{% url 'main' %}">Найти вакансию</a>
                </li>-->
            </ul>
        </div>
    </header>

    <nav class="reg">
		<div class="register">
			<hr style="border: 1px solid #222222; width: 350px; margin-top: -15px;">
			<div class="msg"></div>
            {% for el in anketas %}
                {% if el.id == anket_id %}
                        <label class="otpr">{{el.Tittle}}</label>
                        <label class="otpr">{{el.Text}}</label>
                        <img src="{{el.Photo.url}}" width="250">
                        <label class="otpr">{{el.Price}}</label>
                        <label class="otpr">{{el.Text2}}</label>
                        <a href="{% url 'otklikform' el.id %}">Откликнуться</a>
                {% endif %}
            {% endfor %}



         <!-- <input class="button-reg" type="submit" value="Откликнуться">  -->

        </div>
    </nav>

    <div class="podval" valign="bottom" style="margin-top: 625px;">
        <p> Контактная информация: &emsp;Phone:+7(902)**** ; &emsp;Email: GambitCorp@gmail.com; &emsp;Адрес: г.Красноярск, КрасРаб 31А; </p>
    </div>



</body>
</html>