	<!DOCTYPE html>
	<html lang="ru">
	<head>
		<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'
	rel='stylesheet' type='text/css'>
	<link href="style.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="style.css" >
		<title>BeeBuzz</title>

<header>
  <div class="logo">Логотип</div>
  <nav>
    <ul>
      <li><a href="#">Создать заказ</a></li>
      <li><a href="#">Найти специалиста</a></li>
      <li><a href="file:///C:/Users/Anastasia/Desktop/Сайт%20олимп/log%20in/login.html"target="_blank" rel="noopener noreferrer">Войти</a></li>
      <li><a href="#">Зарегистрироваться</a></li>
    </ul>
  </nav>
</header>


<table align="center">
			<tr>
				<td align="center" valign="bottom">

					<nav class="lp">
						<div class="lp_lab">
							<label>МЫ СМОЖЕМ ВАМ ПОМОЧЬ!<br>Сервис по подбору персонала<br><br><br><br></label>
						</div>
						<div class="search-box">
							<input type="text" class="search-txt" placeholder="Что вы ищете?">
						</div>

					</nav>
				</td>
				<td>
					<div class="image-vd">
						<img src="lp.png" width="270" align="right">
					</div>
				</td>
			</tr>
		</table>
	</body>
	</html>