{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed&display=swap" rel="stylesheet">

    <title>BeeBuzz.NET</title>
    <link rel="stylesheet" href="{% static 'main/css/login_form_1.css' %}">
</head>

<body>
    
    <nav class="login-form">
        <div class="login-name"><p>Вход в систему</p></div>
        <form id = "form-group" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <!--<div class="form-group">
            <div class="label-reg"> <label for = "email">e-mail</label> </div>
            <input class="vvod" type="email" placeholder="Введите e-mail" id = "usermail" autocomplete="usermail">
        </div>

        <div class="form-group">
            <div class="label-reg"> <label for = "password">Пароль</label> </div>
            <input class="vvod1" type="password" placeholder="Введите пароль" id = "userpassword" autocomplete="userpassword">
        </div>-->

        <input class="button-vhod" type="submit" value="Войти">

        <div class="no-reg">
            <a href="#">Забыли адрес электронной почты или пароль?</a>
            <P>
                У вас нет аккаунт в BeeBuzz.NET? <a id="reg" href="{% url 'reg' %}">Зарегистрироваться!</a>
            </P>
                    <script >
var loginButton = document.getElementById("reg");

	if (loginButton) { // Проверяем, что кнопка с id="login" существует на странице
	  loginButton.addEventListener('click', onSubmit);
	}

	function onSubmit(e){
	  e.preventDefault(); // Отменяем стандартное поведение ссылки

	  var url = window.location.href; // Получаем текущий URL
	  if (url.includes('localhost')) { // Проверяем, что сайт находится на localhost
		window.location.href = 'registration.html?animation=1'; //этот костыль нет... (потом скрипт закину в JS)
	  } else { // Если сайт не находится на localhost, то используем полный URL
		window.location.href = 'http://127.0.0.1:8000/registration/?animation=1'; //этот костыль работает
	  }
	}</script>
        </div>
        </form>
    </nav>

</body>
</html>