{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <title>Вакансии</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'main' %}"><img src="{% static 'main/images/full-logo 2.svg' %}" class="logo-image" width="70" /></a>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li>
                    <a href="{% url 'partners' %}" class="partners request-link">Партнеры</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="about request-link">О нас</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="main">
        <div class="container">
            <h1 class="open-vacan">Открытые вакансии</h1>
            <div class="aside-menu">
                <div class="menu__categories">
                   <! <ul class="menu__categories-list">

                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category1" data-category="1">
                            <label for="category1">Категория 1</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category2" data-category="2">
                            <label for="category2">Категория 2</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category3" data-category="3">
                            <label for="category3">Категория 3</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category4" data-category="4">
                            <label for="category4">Категория 4</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category5" data-category="5">
                            <label for="category5">Категория 5</label>
                        </li>
                        <!--

                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category">
                            <label>Один</label>
                        </li>-->
                    </ul>
                </div>
                <div class="menu__subcategories menu__categories">
                    <ul class="menu__subcategories-list">
                        <li>
                            <div id="category-content-1" class="category-content">
                                {% for c in lang_cat %}
                                {% if c.MainCategory.id == 1 %}
                                    {% if c.pk == lang_cat_selected %}
                                        <li>{{c.Tittle}}</li>
                                    {% else %}
                                        <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>

                    <div id="category-content-2" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 2 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    <div id="category-content-3" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 3 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div id="category-content-4" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 4 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                            </div>
                            <div id="category-content-5" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 5 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                                </div>
                        </li>
                    </ul>
                </div>
                <div class="search-box">
                </div>
            </div>
            <div class="vacancies">
                <!-- <a class="vacancy-open" id="vacancy">
                    
                </a> -->
                {% for el in results %}
                <div class="vacancies-list">
                    <div class="vacancies-item" id="vacancy-item">
                        <h3>{{el.Tittle}}</h3>
                        <p class="vacancy-description">
                            {{el.Text}}
                        </p>
                        <label>{{el.Lang_cat}}</label>
                        <label>{{el.Status}}</label>
                        <label>{{el.Price}}</label>
                        <img src="{{el.Photo.url}}" width="250">
                        <p class="skills">
                            {{el.Text2}}
                        </p>
                        <p class="salary">
                            0
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
            <script>
                const categoryButtons = document.querySelectorAll('[data-category]');
                const categoryContents = document.querySelectorAll('.category-content');

                // Добавьте обработчик событий для каждой кнопки
                categoryButtons.forEach(button => {
                    button.addEventListener('change', function () {
                        // Получите выбранную категорию из data-category
                        const selectedCategory = this.getAttribute('data-category');

                        // Скрыть все контенты категорий
                        categoryContents.forEach(content => {
                            content.style.display = 'none';
                        });

                        // Отобразить выбранный контент
                        document.getElementById(`category-content-${selectedCategory}`).style.display = 'block';
                    });
                });
            </script>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>