{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>BeeBuzz.NET</title>
    <link rel="stylesheet" href="{% static 'main/css/vivod_BD.css' %}">
</head>


<body>

    <header>
        <div class="logo">
            <table>
                <td>
                    <a href="{% url 'main' %}"><img src="{% static 'main/images/startsheet_2.png' %}" id="logotip" alt="" width="70"/></a>
                </td>
                <td>
                    <div class="namelogo"><label>BeeBuzz.NET</label></div>
                    <div class="namelogo2"><label>Сервис для поиска специалистов по оказанию услуг</label></div>
                </td>
            </table>
       </div>
         <nav class="text-sh">
           <ul>
                 <li><a href="{% url 'anket' %}" target="_blank" rel="noopener noreferrer">Создать заказ</a></li>
                 <li><a href="#">Найти специалиста</a></li>
                 <li><a href="#">Войти</a></li>
               <li><a href="{% url 'reg' %}" target="_blank" rel="noopener noreferrer">Зарегистрироваться</a></li>
           </ul>
         </nav>
    </header>
    
    <table>
        <tr>
            <td id="tdfirst" valign="top">
                <div class="label-menu"> <label>Категории софта</label></div>
                <div class="chbox">
                    <div> <input type="checkbox" id="cb1"> <label for="cb1">Backend</label> </div>
                    <div> <input type="checkbox" id="cb2"> <label for="cb2">Frontend</label> </div>
                </div>
                
                <div class="label-menu"> <label>Языки программирования</label> </div>
                <div class="chbox">
                    <div> <input type="checkbox" id="cb1"> <label for="cb1">C#</label> </div>
                    <div> <input type="checkbox" id="cb2"> <label for="cb2">C++</label> </div>
                    <div> <input type="checkbox" id="cb3"> <label for="cb3">Java</label> </div>
                </div>
            </td>
    
            <td>
                <table>                       
                        {% for el in anketas %}
                            <table>
                                <tr>
                                    <td>
                                        <div class="photo" style="margin-top: 15px;">
                                            <img src="{{el.Photo.url}}" width="250">
                                        </div>
                                    </td>
                                    <td valign="top">
                                        <div class="anketa" style="margin-top: 15px">
                                            <div class="tittle">
                                                <h5>{{el.Tittle}}</h5>
                                            </div>
                                            <div class="text">
                                                <label>{{el.Text}}</label>
                                            </div>
                                            <div class="status">
                                                <label>{{el.Status}}</label>
                                            </div>
                                            <div class="lang_cat">
                                                <label>{{el.Lang_cat}}</label>
                                            </div>
                                            <div class="soft_cat">
                                                <label>{{el.Soft_cat}}</label>
                                            </div>
                                            <div class="author">
                                                <label>{{el.Author}}</label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                </table>
            </td>
        </tr>
    </table>

</body>
</html>
