{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>BeeBuzz</title>
    <link rel="stylesheet" href="{% static 'main/css/vivod_BD.css' %}">
</head>


<body>

    <header>
        <div class="logo">
         <a href="{% url 'main' %}"><img src="{% static 'main/images/startsheet_2.png' %}"alt="" width="60"/></a>
       </div>
         <nav class="text-sh">
           <ul>
                 <li><a href="#">Создать заказ</a></li>
                 <li><a href="#">Найти специалиста</a></li>
                 <li><a href="#">Войти</a></li>
               <li><a href="{% url 'reg' %}" target="_blank" rel="noopener noreferrer">Зарегистрироваться</a></li>
           </ul>
         </nav>
    </header>
    

    {% for el in anketas %}

        <table>
            <tr>
                <td>
                    <nav class="anketa">
                        <div class="photo">
                            <img src="{{el.Photo.url}}" width="300">
                        </div>
                        <div class="tittle">
                            <h5>{{el.Tittle}}</h5>
                        </div>
                        <div class="text">
                            <label>{{el.Text}}</label>
                        </div>
                        <div class="status">
                            <label>{{el.Status}}</label>
                        </div>
                        <div class="lang_cat">
                            <label>{{el.Lang_cat}}</label>
                        </div>
                        <div class="soft_cat">
                            <label>{{el.Soft_cat}}</label>
                        </div>
                        <div class="author">
                            <label>{{el.Author}}</label>
                        </div>
                    </nav>
                </td>

                
            </tr>
        </table>

    {% endfor %}


</body>
</html>
