{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <title>Вакансии</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'main' %}"><img src="{% static 'main/images/full-logo 2.svg' %}" class="logo-image" width="70" /></a>
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li>
                    <a href="{% url 'partners' %}" class="partners request-link">Партнеры</a>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="about request-link">О нас</a>
                </li>
                <li>
                    <a href="{% url 'main' %}">Найти вакансию</a>
                </li>
            </ul>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <h1 class="open-vacan">Открытые вакансии</h1>
            <div class="aside-menu">
                <div class="menu__categories">
                   <ul class="menu__categories-list">

                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category1" data-category="1" >
                            <label for="category1">Руководители</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category2" data-category="2">
                            <label for="category2">С высшим медицинским образованием</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category3" data-category="3">
                            <label for="category3">С высшим немедицинским образованием</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category4" data-category="4">
                            <label for="category4">Младший медицинский персонал</label>
                        </li>
                        <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category5" data-category="5">
                            <label for="category5">IT</label>
                        </li>
                    <li class="menu__categories-list-item">
                            <input type="radio" name="category" id="category6" data-category="6">
                            <label for="category5">Со средним медицинским образованием</label>
                        </li>
                    </ul>
                </div>
                <div class="menu__subcategories menu__categories">


                            <div id="category-content-0" class="category-content">

                            </div>
                            <div id="category-content-1" class="category-content">
                                {% for c in lang_cat %}
                                {% if c.MainCategory.id == 1 %}
                                    {% if c.pk == lang_cat_selected %}
                                        <li>{{c.Tittle}}</li>
                                    {% else %}
                                        <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                    {% endif %}
                                {% endif %}
                                {% endfor %}
                            </div>

                    <div id="category-content-2" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 2 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    <div id="category-content-3" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 3 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div id="category-content-4" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 4 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                            </div>
                            <div id="category-content-5" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 5 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                                </div>
                    <div id="category-content-6" class="category-content">
                        {% for c in lang_cat %}
                            {% if c.MainCategory.id == 6 %}
                                {% if c.pk == lang_cat_selected %}
                                    <li>{{c.Tittle}}</li>
                                {% else %}
                                    <li><a href="{{ c.get_absolute_url }}" style="color: black;">{{c.Tittle}}</a> </li>
                                {% endif %}
                            {% endif %}
                            {% endfor %}
                                </div>


                </div>
                <div class="search-box">
                </div>
                <form class="search" method="get">
                    <input type="text" class="search-input" name="q" placeholder="Поиск..." value="{{ query }}">
                    <button class="btn search-btn" type="submit">Найти</button>
                </form>
            </div>
            <div class="vacancies">
                <!-- <a class="vacancy-open" id="vacancy">
                    
                </a> -->
                {% for el in results %}
                <div class="vacancies-list">
                    <div class="vacancies-item" id="vacancy-item">
                        <h3>{{el.Tittle}}</h3>
                        <p class="vacancy-description more">
                            {{el.Text}}
                        </p>
                        <span class="more">{{el.Lang_cat}}</span>
                        <span>{{el.Status}}</span>
                        <span>{{el.Price}}</span>
                        <img class="more" src="{{el.Photo.url}}" width="250">
                        <p class="skills">
                            {{el.Text2}}
                        </p>
                        <a class="response-btn more" href="{% url 'otklikform' el.id %}">Откликнуться</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
            <script>
                // Получите все кнопки категорий и соответствующие им блоки контента
                    const categoryButtons = document.querySelectorAll('[data-category]');
                    const categoryContents = document.querySelectorAll('.category-content');

                    // Установите обработчик событий для каждой кнопки
                    categoryButtons.forEach(button => {
                        button.addEventListener('change', function () {
                            // Получите значение data-category выбранной кнопки
                            const selectedCategory = this.getAttribute('data-category');

                            // Скрыть все блоки контента
                            categoryContents.forEach(content => {
                                content.style.display = 'none';
                            });

                            // Отобразить соответствующий блок контента
                            document.getElementById(`category-content-${selectedCategory}`).style.display = 'block';
                        });
                    });
            </script>
    <script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>