{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="libs/bootstrap-grid.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed&display=swap" rel="stylesheet">

    <title>BeeBuzz.NET</title>
    <link rel="stylesheet" href="{% static 'main/css/profile_1.css' %}">
</head>

<body>
    <header>
        <div class="logo">
            <table>
                <tr>
                    <td>
                        <a href="{% url 'start' %}"><img src="{% static 'main/images/startsheet_2.png' %}" id="logotip" alt="" width="70" /></a>
                    </td>
                    <td>
                        <div class="namelogo"><label>BeeBuzz.NET</label></div>
                        <div class="namelogo2"><label>Сервис для поиска специалистов по оказанию услуг</label></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="text-sh">
            <ul>
                {% if request.user|has_group:"Работодатель" %}
                <li><a id = "anket" href="{% url 'anket' %}">Создать анкету</a></li>
                {% endif %}
                <li><a href="{% url 'main' %}">Найти вакансию</a></li>
                {% if request.user.is_authenticated %}
                <li><a id="login" href="{% url 'prof' %}">Профиль</a></li>
                {% else %}
                <li><a id="login" href="{% url 'log' %}">Войти</a></li>
                {% endif %}
    
                <!--<li><a href="#">Войти</a></li>
        <<li><a href="{% url 'reg' %}" target="_blank" rel="noopener noreferrer">Зарегистрироваться</a></li>-->
            </ul>
        </div>
    </header>

    <table style="height: 600px; margin: 20px 100px 20px 100px; border-bottom: 2px solid #222222;">
        <tr>
            
            <td valign="top" style="width: 900px;">
                <div class="profile">
                    <p class="main-menu-info">
                        Псевдоним на сайте: <label class="dannye-bd">{{ request.user }}</label>
                    </p>

                    <p class="main-menu-info">
                        ФИО пользователя: <label class="dannye-bd">{{ request.user.first_name }}</label>
                    </p>

                    <p class="main-menu-info">
                        Описание пользователя: <p class="dannye-bd-desc">{{request.user.last_name}}</p>
                    </p>

                    <p class="main-menu-info">
                        e-mail: <label class="dannye-bd">{{request.user.email}}</label>
                    </p>

                    <p class="main-menu-info">
                        Занятость профиля: <label class="dannye-bd">{{ user.groups.all.0 }}</label>
                    </p> 
                </div>
            </td>
            <td align="center" valign="top" style="width: 300px;">
                <div class="button">
                    <a href="#" style="text-decoration: none; color:#fbfbfb;">Редактировать профиль</a>
                </div>

                <!--<input class="button-redac" type="submit" value ="Редактировать профиль">-->

                <div class="button">
                    <a href="{% url 'logout' %}" style="text-decoration: none; color:#fbfbfb;">Выйти с аккаунта</a>
                </div>
                
            </td>
        </tr>
    </table>

    <label align="center" style="margin-left: 120px; font-size: 26px; padding: 10px; display: block;">Оставленные Вами заявки:</label>

    <table align="center" border="1" style="margin-left: 300px;">
        <tr>
            <td style="width: 300px;">
                <label>Название заявки:<br></label>


            </td>
            <td style="width: 300px;">
                <label>e-mail:<br></label>


            </td>
            <td style="width: 300px;">
                <label>Роль на сайте:<br></label>


            </td>
        </tr>
    </table>

    {% for c in otkl %}
    {% if request.user == c.Anketa.Author %}
    <h4>{{c.Anketa}}</h4>
    <h4>{{c.Otkl_User.email}}</h4>
    <h4>{{c.Otkl_User.first_name}}</h4>
    {% endif %}
    {% endfor %}

    
    <script >
        var loginButton = document.getElementById("anket");
        
            if (loginButton) { // Проверяем, что кнопка с id="login" существует на странице
              loginButton.addEventListener('click', onSubmit);
            }
        
            function onSubmit(e){
              e.preventDefault(); // Отменяем стандартное поведение ссылки
        
              var url = window.location.href; // Получаем текущий URL
              if (url.includes('localhost')) { // Проверяем, что сайт находится на localhost
                window.location.href = 'createanketas.html?animation=1'; //этот костыль нет... (потом скрипт закину в JS)
              } else { // Если сайт не находится на localhost, то используем полный URL
                window.location.href = 'http://127.0.0.1:8000/createanketas/?animation=1'; //этот костыль работает
              }
            }</script>

    

    <div class="podval" style="margin-top: 100px;">
        <p> Контактная информация: &emsp;Phone:+7(902)**** ; &emsp;Email: GambitCorp@gmail.com; &emsp;Адрес: г.Красноярск, КрасРаб 31А; </p>
    </div>

</body>
</html>