{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация в BeeBuzz.NET</title>
	<!--<link rel="stylesheet" href="libs/bootstrap-reboot.min.css">
	<link rel="stylesheet" href="libs/bootstrap-grid.min.css">-->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="{% static 'main/css/register_1.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="register_1.css">

</head>

<body>


	<nav class="beebuzz">
		<div class="beebuzz_name">
			<h1>Регистрация в BeeBuzz.NET</h1>
		</div>
	</nav>

	<nav class="reg">
		<div class="register">
			<div class="msg"></div>
			<form id = "form-group" method="post">

				<!-- Поставил ID элементам так как использую для скрипта-->
				
				<div class="form-group">
					<label class="header">Фото профиля:</label>
					
					<input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "user">Псевдоним пользователя</label> </div>
					<input class="vvod" type="text" placeholder="Введите псевдоним пользователя" id = "user_psevdomin" autocomplete="user_psevdomin">
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "name-user">Имя пользователя</label> </div>
					<input class="vvod" type="text" placeholder="Введите Ваше имя" id = "username" autocomplete="username">
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "family-user">Фамилия пользователя</label> </div>
					<input class="vvod" type="text" placeholder="Введите Вашу фамилию" id = "userfamily" autocomplete="userfamily">
				</div>
				
				<div class="form-group">
					<div  class="label-reg"> <label for = "password">Пароль</label> </div>
					<input class="vvod1" type="password" placeholder="Введите пароль" id = "password"  autocomplete="current-password">
				</div>

				<div class="form-group">
					<div  class="label-reg"> <label for = "Dpassword">Подтверждение пароля</label> </div>
					<input class="vvod2" type="password" placeholder="Подвердите новый пароль" id = "Dpassword"  autocomplete="current-password">
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "mail">e-mail</label> </div>
					<input class="vvod3" type="email" id = "mail" placeholder="Введите электронную почту" autocomplete="email">
				</div>

				<div class="form-group">
					<label>Роль на сайте</label>
					<div class="form-check">
						<input class="form-check-input"
							   type="radio" name="exampleRadios"
							   id="exampleRadios1"
							   value="option1" checked>

						<label class="form-check-label"
							   for="exampleRadios1">
							Специалист
						</label>
					</div>

					<!-- изменил ID у радио-баттон-->
					<div class="form-check">
						<input class="form-check-input"
							   type="radio" name="exampleRadios"
							   id="exampleRadios2" 
							   value="option2" checked>

						<label class="form-check-label"
							   for="exampleRadios2">
							Пользователь
						</label>
					</div>
				</div>

				<div class="form-group">
					<div class="label-reg"> <label for = "BirthDay">Дата рождения</label> </div>
					<input class="vvod4" type="date" placeholder="Введите дату рождения" id = "BirthDay">
				</div>


				<!-- Работающая кнопка -->
				<input class="button-reg" type="submit" value="Зарегистрироваться">
			</form>
		</div>
	</nav>
		<!-- {% static 'main/js/registration_1.js' %} -->
	<script src="{% static 'main/js/registration_1.js' %}"></script>

</body>
</html>


<!-- -->