{% load static %}
<!DOCTYPE html>
	<html lang="ru">
	<head>
		<meta charset="UTF-8">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900'
	rel='stylesheet' type='text/css'>
	<link href="{% static 'main/css/startsheet_1.css' %}" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="style.css" >
	 <link rel="icon" href="{% static 'main/images/startsheet_1.ico' %}" type="image/x-icon">
		<title>BeeBuzz</title>


<header>
 <div class="logo">
  <a href="{% url 'main' %}"><img src="{% static 'main/images/startsheet_2.png' %}"alt=""/></a>
</div>
  <nav>
    <ul>
      	<li><a href="{% url 'anket' %}" target="_blank" rel="noopener noreferrer">Создать заказ</a></li>
      	<li><a href="#">Найти специалиста</a></li>
      	<li><a href="#">Войти</a></li>
		<li><a href="{% url 'reg' %}" target="_blank" rel="noopener noreferrer">Зарегистрироваться</a></li>
    </ul>
  </nav>
</header>


<table align="center">
			<tr>
				<td align="center" valign="bottom">

					<nav class="lp">
						<div class="lp_lab">
							<label>МЫ СМОЖЕМ ВАМ ПОМОЧЬ!<br>Сервис по подбору персонала<br><br><br><br></label>
						</div>
						<div class="search-box">
							<input type="text" class="search-txt" placeholder="Что вы ищете?">
						</div>

					</nav>
				</td>
				<td>
					<div class="image-vd">
						<img src="{% static 'main/images/startsheet_3.png' %}" width="270" align="right">
					</div>
				</td>
			</tr>
		</table>


<section class="about">
<div class="wrap_about">

<article class="grid">
  <img src="{% static 'main/images/startsheet_4.jpeg' %}" width="220px" height="208px" alt="">
    <p>Организовываем уборку разного уровня загрязнения в любых помощениях. <a href="#"> Узнать подробнее</a></p>
</article>
<article class="grid">
  <img  src="{% static 'main/images/startsheet_5.jpg' %}" width="220px" height="208px" alt="">
    <p>Организовываем ремонт разного уровня сложности в любых помощениях. <a href="#">Узнать подробнее</a></p>
</article>
<article class="grid">
  <img src="{% static 'main/images/startsheet_6.jpg' %}" width="220px" height="208px" alt="">
    <p>Организовываем ремонт разного уровня сложности в любых помощениях. <a href="#">Узнать подробнее</a></p>
</article>
<article class="grid">
  <img src="{% static 'main/images/startsheet_7.jpeg' %}" width="220px" height="208px" alt="">
    <p>Организовываем уборку разного уровня загрязнения в любых помощениях. <a href="#"> Узнать подробнее</a></p>
</article>
<div class="clear"></div>
</div>
</section>

  <div class="podval">
        <p> Контактная информация: Phone:+7(902)**** ; Email: info@amoskin.com; Адрес: г. Красноярск, КрасРаб 31А; </p>
      </div>

	</body>
	</html>